<div class="footer">
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-xs-12 text-center">
            <a href="https://www.facebook.com/victorshinya" target="_blank">
              <i class="fa fa-facebook fa-2x"></i>Facebook</a>
          </div>
          <div class="col-lg-3 col-xs-12 text-center">
            <a href="https://twitter.com/victorshinya" target="_blank">
              <i class="fa fa-twitter fa-2x"></i>Twitter</a>
          </div>
          <div class="col-lg-3 col-xs-12 text-center">
            <a href="https://github.com/victorshinya" target="_blank">
              <i class="fa fa-github fa-2x"></i>Github</a>
          </div>
          <div class="col-lg-3 col-xs-12 text-center">
            <a href="https://www.linkedin.com/in/victorshinya/" target="_blank">
              <i class="fa fa-linkedin fa-2x"></i>Linkedin</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="copyright">
    <div class="container">
      <div class="text-center">
        <p>Copyright © 2017 All rights reserved</p>
      </div>
    </div>
  </div>
</div>
