.ds-btn li {
  list-style: none;
  float: left;
  padding: 10px 15px;
  width: 100%;
  display: inline-block;
  text-align: left;
  margin: 8px;
}

.ds-btn li span p {
  width: 100%;
  display: inline-block;
  text-align: left;
}

ul.ds-btn {
  width: 100%;
  margin-top: 1rem;
}