<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Home Page</h1>
    <p>This is a demo app that uses Node.js and Express.js to create simple backend service. It has APIs to sign up, sign in,
      fetch all users registered in our NoSQL database. If you want to discover all APIs, access github
      <a href="https://github.com/victorshinya/login-class">here</a>.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="" role="button" *ngIf="!authService.loggedIn()" [routerLink]="['/login']">Login here</a>
      <a class="btn btn-primary btn-lg" href="" role="button" *ngIf="authService.loggedIn()" [routerLink]="['/users']">Access list of users</a>
    </p>
  </div>
</div>
